.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
}

.input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.searchButton {
  background-color: #4682b4;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #4d91d6;
}

.searchIcon {
  width: 20px;
  height: 20px;
}
